@{
    ViewBag.Title = @Html.Raw("R&eacutesum&eacute");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sub-content">
    <div class="row">
        <div class="col-xs-12">
            <iframe id="resume-frame" src="~/Content/docs/BrentKuzmanich_Resume.pdf"></iframe>
        </div>
    </div>
</div>